<div class="row g-0">

    <div class="col-sm-6 col-md-8">
        <div class="leftside">
            <app-top-nav></app-top-nav>
        </div>
    </div>

    <div class="col-6 col-md-4">
        <div class="rightside">
            <app-ticket-view></app-ticket-view>
        </div>
    </div>

   
    
</div>
